@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 151 5% 0%;
    --card: 151 50% 90%;
    --card-foreground: 151 5% 10%;
    --popover: 151 100% 95%;
    --popover-foreground: 151 100% 0%;
    --primary: 151 100% 33.3%;
    --primary-foreground: 0 0% 100%;
    --secondary: 151 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 113 30% 80%;
    --accent-foreground: 151 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 151 5% 90%;
    --border: 151 30% 50%;
    --input: 151 30% 18%;
    --ring: 151 100% 33.3%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 151 50% 5%;
    --foreground: 151 5% 90%;
    --card: 151 50% 0%;
    --card-foreground: 151 5% 90%;
    --popover: 151 50% 5%;
    --popover-foreground: 151 5% 90%;
    --primary: 151 100% 33.3%;
    --primary-foreground: 0 0% 100%;
    --secondary: 151 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 113 30% 15%;
    --accent-foreground: 151 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 151 5% 90%;
    --border: 151 30% 18%;
    --input: 151 30% 18%;
    --ring: 151 100% 33.3%;
    --radius: 0.5rem;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.prose .anchor {
  @apply absolute invisible no-underline ml-[-1em] pr-[0.5em] w-[80%] cursor-pointer max-w-[700px];
}

.prose .anchor:hover {
  @apply visible;
}

.prose a {
  @apply transition-all decoration-neutral-400 dark:decoration-neutral-600 underline-offset-2 decoration-[0.1em];
}

.prose .icon.icon-link:after {
  @apply text-neutral-300 dark:text-neutral-700;
  content: "#";
}

.prose *:hover > .anchor {
  @apply visible;
}

.prose pre {
  @apply bg-neutral-50 dark:bg-neutral-900 rounded-lg overflow-x-auto border border-neutral-200 dark:border-neutral-900 relative;
}
